:root {
    --white: #FFFFFF;
    --grey: rgb(112, 112, 112);
    --black: #000;
    --green: #849F85;

    --headerHeight: calc(var(--vh, 1h)*10);

    --marginDesktop: 1vw;
    --marginMobile: 2vw;
}

/*Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: "area-normal", sans-serif;
    font-style: normal;
    cursor:none;
}
.mainAgenda{
    padding-bottom: calc(var(--marginDesktop)* 4)!important;
}

@font-face {
    font-family: TMLdisplay;
    src: url(../data/TMLDisplay-Regular.otf);
}

a:hover {
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: var(--grey);
}

footer{
    background-color: var(--white);
    padding: var(--marginDesktop)!important;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-size: calc(75px + 0.390625vw);
    font-family: "TMLdisplay";
    line-height: calc(70px + 0.390625vw);
}

h2 {
    font-size: calc(10px + 0.390625vw);
    line-height: calc(15px + 0.390625vw);
    font-weight: 400;
}

h3 {
    font-size: calc(8px + 0.390625vw);
    font-weight: 400;
}

p {
    font-size: calc(9px + 0.390625vw);
    line-height: calc(14px + 0.390625vw);
    font-weight: 400;
    text-wrap: pretty;
}

hr {
    border: none;
    border-top: 0.5px solid var(--black)
}

footer p {
    color: var(--grey);
    font-size: calc(8px + 0.390625vw);
    line-height: calc(13px + 0.390625vw);
}

.textAlignRight{
    text-align: right;
}

header {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-top: 0.5px solid var(--black);
    border-bottom: 0.5px solid var(--black);
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
}


header > * {
    border-left: 0.5px solid var(--black); 
    padding: 0 var(--marginDesktop);
}


header > *:nth-child(1),
header > *:nth-child(2) {
    border-left: none!important;
}

.navHeader {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.navHeader:hover {
    background-color: var(--black);
}

.navHeader:hover h3 {
    color: var(--white);
}

.navHeader h3 {
    transition: color 0.3s ease; 
}


.navHeader h3 {
    margin: calc(var(--marginDesktop) / 8) 0;
    text-transform: uppercase;
    font-size: calc(12px + 0.390625vw);
}

.navHeader a {
    color: var(--black);
}

p::selection {
    color: var(--white) !important;
    background-color: var(--black);
}

h1::selection {
    color: var(--white) !important;
    background-color: var(--black);
}

h2::selection {
    color: var(--white) !important;
    background-color: var(--black);
}

h3::selection {
    color: var(--white) !important;
    background-color: var(--black);
}

a::selection {
    color: var(--white) !important;
    background-color: var(--black);
}

span {
    font-size: calc(22px + 0.390625vw);
}

#indexGeneral span {
    color: var(--grey);
}

#indexGeneral {
    height: calc(var(--vh, 1h)*100);
}


.main{
    background-color: var(--white);
}
#mainIndex {
    user-select: none;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mainIndexContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--vh, 1h)* 100 - 8vh - calc(var(--marginDesktop)));
    width: 100vw;
    margin-top: calc(var(--marginDesktop));
    position: relative;
}

.logoHeader {
    height: 8vh;
    display: flex;
    align-items: center;
}

#menuHeader {
    height: 2vh;
    fill: none;
    stroke: #000;
}

.logoHeader svg {
    height: 80%;
    cursor:pointer;
}

.agendaHeader {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 1vw 0;
}

#bodyIndex {
    overflow-x: hidden;
}

#logoMainIndex_1,
#logoMainIndex_2 {
    height: 55.2vh;
}

#logoMainIndex_1 svg,
#logoMainIndex_2 svg {
    height: 100%;
}

#logoMainIndex_2 {
    position: relative;
    z-index: -1;
}

#logoMainIndex_2 svg {
    position: absolute;
    right: -200px;
}

.agendaIndex {
    margin: calc(var(--marginDesktop));
}

#imagesIndex {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: calc(var(--vh, 1h)*100);
    overflow-x: hidden;
}

.imageIndex {
    position: absolute;
}

.imageIndexVertical {
    width: calc(150px + 5vw);
}

.imageIndexHorizontal {
    height: calc(120px + 5vw);
}

#imageIndex1 {
    left: 7%;
    top: 45%;
}

#imageIndex2 {
    left: 45%;
    bottom: 10%;
}

#imageIndex3 {
    right: 20%;
    top: 50%;
}

#imageIndex4 {
    right: 10%;
    top: 5%;
}

#imageIndex5 {
    left: calc(-40% - 10%);
    ;
    bottom: 40%;
}

#imageIndex6 {
    left: calc(-30% - 90%);
    ;
    top: 20%;
}

#imageIndex7 {
    left: calc(-60% - 120%);
    ;
    top: 15%;
}

#imageIndex8 {
    left: calc(-80% - 40%);
    ;
    bottom: 15%;
}

#imageIndex9 {
    right: calc(-75% - 10%);
    ;
    top: 5%;
}

#imageIndex10 {
    right: calc(-60% - 90%);
    top: 55%;
}

#imageIndex11 {
    right: calc(-40% - 120%);
    top: 5%;
}

#imageIndex12 {
    right: calc(-30% - 40%);
    bottom: 10%;
}

.footerIndex {
    position: absolute;
    bottom: 0;
}

footer {
    display: flex;
    gap: var(--marginDesktop);
    padding: var(--marginDesktop);
}

footer p {
    margin-top: 1px;
}

.moveRight,
.moveLeft {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.moveRight {
    left: 0;
}

.moveLeft {
    right: 0;
}

#cursor {
    position: fixed;
    background-color: #D7D6D4;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 120;
}

#cursor.active {
    width: 6em;
    height: 6em;
}

.link-container {
    position: relative;
}

.hiddenDesktop {
    display: none;
}

.hiddenMobile {
    display: block;
}

.logoInfo {
    position: relative;
}

.logoInfo span {
    position: absolute;
    bottom: 45%;
    right: 10%;
}


/*Agenda*/
.main {
    width: calc(100vw - var(--marginDesktop)* 2);
    padding: 0 var(--marginDesktop);
}

.agenda {
    padding-top: 5vh;
}

#arrowDown {
    width: 10px;
    fill: none;
    stroke: #000;
    stroke-width: .8px;
}

#arrowUp{
    width: 10px;
    fill: none;
    stroke: #000;
    stroke-width: .8px;
    display: none;
}

#filterDropdown{
    margin: calc(var(--marginDesktop)/4) 0;
    max-height: 0;
}

.gridMode {
    display: none;
}

#filterButton {
    display: flex;
    gap: 5px;
    align-items: baseline;
    cursor:pointer;
}

.month:first-child {
    margin-top: 0;
}

.month {
    margin-top: calc(var(--marginDesktop)*3);
}

.month h1 {
    margin-bottom: var(--marginDesktop);
}

.titleGrid h2 {
    margin: 0.2vw 0;
    font-weight: 600;
}

.gridInfo hr {
    margin: calc(var(--marginDesktop)/2) 0;
}

.gridPhoto {
    height: 35vh;
}

.gridInfo h2 {
    text-transform: uppercase;
}

.gridPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out; 
}

.gridPhoto {
    overflow: hidden; 
}

.gridPhoto img:hover {
    transform: scale(1.05);
    
}

#gridMode .monthSep {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--marginDesktop)/2);
}

#gridMode .gridElement {
    width: 100%;
    margin: 0;
    transition: transform 0.3s ease;
}

.gridElement:nth-of-type(4n) {
    margin-right: 0;
}

.agendaMode {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.agendaMode h3 {
    font-weight: 400;
    transition: transform 0.3s ease;
}

.agendaMode h3:hover {
    font-weight: 600;
}


#filterButton:hover>h3 {
    font-weight: 600;
    transform: scale(1.01);
}

#filterButton:hover>svg {
    stroke-width: 2px;
}

#filterDropdown h3 {
    font-weight: 400;
    transition: transform 0.3s ease;
    margin-bottom: calc(var(--marginDesktop)/8);
    line-height: calc(10px + 0.390625vw);
}

#filterDropdown h3:hover {
    font-weight: 600;
    transform: scale(1.01);
}

.headerElement {
    display: flex;
    justify-content: space-between;
}

.headerElement h2 {
    margin: calc(var(--marginDesktop) / 4) 0;
}

.agendaMode .selected {
    font-weight: 600;
    position: relative;
}

.agendaMode .selected::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translateX(-50%) translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    display: none;
}

#listMode .monthSep {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#listMode .gridElement {
    width: 100%;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.buttonArquivo{
    display: flex;
    justify-content: center;
}

.buttonArquivo button{
    margin: calc(var(--marginDesktop)*3) 0 ;
}

#list, #grid{
    cursor: pointer;
}

.listElement {
    display: grid;
    justify-content: space-between;
    padding: calc(var(--marginDesktop) / 4) 0;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.listElement div {
    margin: calc(var(--marginDesktop)/3) 0;
}

.gridInfo {
    color: black !important;
}

.listElement .gridInfo>* {
    background: white;
    mix-blend-mode: difference;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#listMode .gridElement:hover h2 {
    transform: scale(1.02);
}

.infoList {
    display: flex;
}


    .infoList h2 {
        width: 90%
    }

.titleList {
    text-transform: uppercase;
    width: 90%;
}

.titleList h2 {
    font-weight: 600;
}

.categoryList {
    width: calc(8vw*2);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.imageList {
    height: 20vw;
    position: absolute;
    top: calc(-10vw + 50%);
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
    filter: invert(1);
    mix-blend-mode: difference;
    z-index: 90;

}

.imageList img {
    height: 100%;
}

#gridMode .gridElement img:hover {
    box-shadow: 2px 4px 8px rgba(112, 112, 112, 0.2);
}



/*Espetaculo*/
.headerShow .logoHeader svg {
    fill: var(--white);
}

.headerShow hr {
    border: none;
    border-top: 0.5px solid var(--white) !important;
}

.coverHeader hr {
    border: none;
    border-top: 0.5px solid var(--white) !important;
}

.headerShow .navHeader h3 {
    color: var(--white) !important;
}

.navHeader h3 {
    font-weight: 400;
    transition: transform 0.3s ease;
}



.selected {
    font-weight: 600!important;
}

.coverShow {
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100vw;
    height: calc(var(--vh, 1h)*100);
}

.coverShow .imageShow {
    width: 100%;
    height: 100%;
}

.coverShow .imageShow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.coverHeader h2 {
    color: white !important;
}

.coverShowInfo{
    margin: calc(var(--marginDesktop)*2) 0;
}

.coverShowInfo h1 {
    color: var(--black) !important;
    font-weight: 500;
}

.coverShowInfoTitle{
    width:70%;
}

.coverHeaderContent {
    display: flex;
    margin: calc(var(--marginDesktop) / 3) 0;
    justify-content: space-between;
}

.lateralInfo {
    width: 20%;
}

.lateralInfoInfo {
    margin: calc(var(--marginDesktop)) 0;
}

.lateralInfoInfo p{
    margin-bottom: var(--marginDesktop);
}

.mainInfo {
    width: 50%;
}

.infoShow {
    display: flex;
    gap: 10%;
    margin-top: calc(var(--marginDesktop)*2);
}

.detailsShow {
    margin-bottom: calc(var(--marginDesktop) / 2);
    text-transform: uppercase;
}


button {
    background-color: var(--white);
    padding: 10px 20px;
    margin-top: calc(var(--marginDesktop) / 2);
    border: 1px solid black;
    font-size: calc(6px + 0.390625vw);
    font-weight: 400;
    font-family: "area-normal", sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 2px 4px 8px rgba(112, 112, 112, 0.2);
    cursor: pointer;
}


span {
    font-family: 'TMLdisplay';
    text-transform: uppercase;
    color: var(--black) !important;
    font-size: calc(250px + 10vw);
    line-height: calc(200px + 10vw);
}

.rollingText {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 5%;
    left: 0;
}

.rollingText span {
    display: inline-block;
    animation: rollingText 50s linear infinite;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: calc(var(--marginDesktop)* 5);
}

@keyframes rollingText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/*About*/
.aboutImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutLanding {
    height: calc(var(--vh, 1h)* 100 - var(--marginDesktop)* 2);
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.aboutLanding svg {
    height: calc(100vh - 10vh - var(--marginDesktop)* 3);
}

#imgAbout1 {
    width: 15vw;
    height: 20vw;
    position: absolute;
    position: absolute;
    right: 50%;
    bottom: 5%;
    z-index: -1;
}

#imgAbout2 {
    width: 20vw;
    height: 25vw;
    position: absolute;
    bottom: 20%;
    right: 10%;

}

#imgAbout3 {
    width: 20vw;
    height: 25vw;
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: -1;
}
.aboutImages,
.rollingText,
.mainAbout {
    width: 100%;
    overflow: hidden;
}
.aboutDiv {
    display: flex;
    margin: var(--marginDesktop);
    gap: calc(var(--marginDesktop)*3);
}

.aboutText {
    width: 50%;
}

.aboutInfo {
    width: 30%;
}

.aboutText p {
    font-size: calc(13px + 0.390625vw);
    line-height: calc(22px + 0.390625vw);
    font-weight: 800;
    text-wrap: pretty;
}

.aboutInfo p {
    margin: calc(var(--marginDesktop)/4) 0;
}

.aboutInfoTitle {
    text-transform: uppercase;
    font-weight: 600;
}

.moreInfoTitle {
    text-transform: uppercase;
    margin: calc(var(--marginDesktop) / 6) 0;
}

.divFlex{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divFlex svg{
    height: calc(9px + 0.390625vw);
    margin: 0 calc(var(--marginDesktop) / 2);
    fill: none;
    stroke: #000;
    stroke-width: .8px;
}

#crossButton2, #crossButton1{
display: none;
}

.moreInfoTitle:hover {
    font-weight: 600;
}

.aboutTextTitle {
    text-transform: uppercase;
    margin-bottom: calc(var(--marginDesktop)/4);
}

.teamTitle {
    text-transform: uppercase;
    font-weight: 600;
    margin: calc(var(--marginDesktop) / 4) 0;
}

.subTitleAbout {
    text-transform: uppercase;
    font-weight: 600;
}

.aboutInfoTitle {
    margin: calc(var(--marginDesktop) / 2) 0;
}

.aboutInfoTitleSub {
    font-weight: 600;
    margin: calc(var(--marginDesktop) / 2) 0 0;
}

.teamDiv {
    margin: calc(var(--marginDesktop) / 2) 0;
}

.moreInfo {
    margin: 0 var(--marginDesktop);
    cursor:pointer;
}

.teamMember {
    margin-top: calc(var(--marginDesktop) / 6);
}

.moreInfoElement {
    margin-bottom: calc(var(--marginDesktop) / 4);
}

.moreInfoElement p {
    width: 50%;
}

#moreInfoContent1,
#moreInfoContent2 {
    max-height: 0;
}

#moreInfoContent1 .moreInfoElement:last-child , 
#moreInfoContent2  .moreInfoElement:last-child{
    margin-bottom: var(--marginDesktop);
}

.enterHr {
    margin: calc(var(--marginDesktop) / 4) 0;
}

/*Arquivo*/
.archiveContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--marginDesktop)/2);
}

@media (orientation: landscape) and (max-width: 1300px) {
    #gridMode .monthSep {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Modo Mobile*/
@media (orientation: portrait) {

    span {
        font-family: 'TMLdisplay';
        text-transform: uppercase;
        color: var(--black) !important;
        font-size: calc(250px + 10vw);
        line-height: calc(250px + 10vw);
    }

    .noDisplayMobile{
        display: none;
    }
    p {
        font-size: calc(13px + 0.390625vw);
        line-height: calc(18px + 0.390625vw);
    }

    .hiddenMobile {
        display: none;
    }

    .hiddenDesktop {
        display: block;
    }

    .main {
        width: calc(100vw - var(--marginMobile)* 2);
        padding: 0 var(--marginMobile);
    }

    header {
        width: 100vw;
        grid-template-columns: repeat(3, 1fr);
    }

    .navHeader{
        align-items: center;
    }

    .navHeader h3{
        margin: calc(var(--marginDesktop)/1.5) 0;
        line-height: calc(12px + 0.390625vw);
    }

    /*Index*/
    .logoHeader{
        padding: 0 var(--marginMobile);
    }
    #logoMainIndex_1,
    #logoMainIndex_2 {
        height: calc(var(--vh, 1h)* 43);
    }

    #indexGeneral span {
        text-align: center;
    }

    #bilheteiraOnline {
        margin-top: 1vw;
    }

    .menuIndexMobile {
        margin: var(--marginDesktop);
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .menuIndexMobile hr{
        width: 50%;
    }
    .menuIndexMobile p{
        font-size: calc(18px + 0.390625vw);
        line-height: calc(20px + 0.390625vw);
        margin: calc(var(--marginDesktop) / 2);
    }

    #logoMainIndex_2 {
        position: relative;
    }

    #logoMainIndex_2 svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }

    footer {
        position: initial;
        display: flex;
        gap: var(--marginMobile);
        padding: var(--marginMobile);
    }

    #filterDropdown h3 {
        margin-bottom: calc(var(--marginMobile) / 6);
        line-height: calc(14px + 0.390625vw);
    }

    #mainIndexContent {
        height: auto;
        min-height: calc(var(--vh, 1h)*100 - 10vh);
        margin-top: calc(var(--marginMobile)* 2);
        position: relative;
    }

    .imageIndexVertical {
        width: calc(100px + 5vw);
    }

    .imageIndexHorizontal {
        height: calc(80px + 5vw);
    }
    

    #imageIndex1 {
        left: 40%;
        top: 5%;
    }

    #imageIndex2 {
        left: -15%;
        bottom: calc(var(--vh, 1h));
    }

    #imageIndex3 {
        right: 10%;
        top: 55%;
    }

    #imageIndex4 {
        right: -20%;
        top: 35%;
    }

    #imageIndex5 {
        left: calc(-20% - 150%);
        top: 50%;
    }

    #imageIndex6 {
        left: calc(-40% - 350%);
        top: 30%;
    }

    #imageIndex7 {
        left: calc(-10% - 300%);
        top: 30%;
    }

    #imageIndex8 {
        left: calc(-10% - 250%);
        bottom: calc(var(--vh, 1h));
    }

    #imageIndex9 {
        right: calc(-55% - 150%);
        top: 35%;
    }

    #imageIndex10 {
        right: calc(-10% - 350%);
        top: 10%;
    }

    #imageIndex11 {
        right: calc(-30% - 300%);
        top: 60%;
    }

    #imageIndex12 {
        right: calc(-5% - 150%);
        bottom: calc(var(--vh, 1h)*20);
    }

    #cursor {
        display: none;
    }


    /*teatro*/
    #imgAbout2 {
        z-index: -1;
    }

    .aboutDiv {
        display: flex;
        flex-direction: column;
        gap: calc(var(--marginMobile)* 2);
    }

    .aboutText {
        width: 100%;
    }

    .aboutText p {
        font-size: calc(14px + 0.390625vw);
        line-height: calc(20px + 0.390625vw);
    }

    .aboutInfo p {
        margin: calc(var(--marginMobile)) 0;
    }

    .aboutInfoTitle {
        margin: calc(var(--marginMobile)) 0;
    }

    .aboutInfo {
        width: 100%;
        margin: var(--marginMobile) 0;
    }

    #imgAbout3 {
        width: 50vw;
        height: 20vh;
    }

    #imgAbout2 {
        width: 60vw;
        height: 20vh;
        bottom: 45%;
        right: 10%;
    }

    #imgAbout1 {
        width: 60vw;
        height: 30vh;
        left: 5%;
        bottom: 5%;
    }

    .aboutLanding {
        height: calc(100vh - 15vh - var(--marginMobile) / 2);
    }

    .moreInfoElement p {
        width: 100%;
        text-wrap: pretty;
    }


    .moreInfoElement p:last-child {
        margin-bottom: calc(var(--marginMobile)/2);
    }

    .divFlex svg{
        height: (13px + 0.390625vw);
    }

     /*agenda*/
    h3 {
        font-size: calc(12px + 0.390625vw);
    }

    h2 {
        font-size: calc(12px + 0.390625vw);
    }

    #gridMode .monthSep {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: calc(var(--marginMobile));
    }


    .titleGrid h2 {
        font-weight: 600;
        font-size: calc(15px + 0.390625vw);
        line-height: calc(19px + 0.390625vw);
    }

    .gridInfo hr {
        margin: calc(var(--marginMobile)) 0;
    }

    .month {
        margin-top: calc(var(--marginMobile)* 6);
    }

    .listElement div {
        margin: calc(var(--marginDesktop) / 2.5) 0;
    }

    .month h1 {
        margin-bottom: calc(var(--marginMobile)*2);
        font-size: calc(60px + 0.390625vw);
        line-height: calc(50px + 0.390625vw);
    }

    .infoList {
        display: flex;
        flex-direction: column;
    }

    .infoList h2 {
        width: 90%
    }

    .categoryList {
        width: fit-content;
    }

    .imageList{
        display: none;
    }

    .titleList {
        width:100%;
        display: block; /* Tornar visível se necessário */
    grid-column: span 2;
    }

    .titleList h2 {
        font-weight: 600;
        font-size: calc(13px + 0.390625vw);
    }

    .infoList{
        gap: var(--marginDesktop);
    }

    .listElement {
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        margin: calc(var(--marginMobile)) 0;
    }

    .localList{
        display: none;
    }

    .categoryList{
        display: none;
    }

    .infoList h2:last-child{
        display: none;
    }
    .listElement:nth-child(1) {
        order: 1;
    }

    .listElement:nth-child(2) {
        order: 3;
    }

    .listElement:nth-child(3) {
        order: 2;
    }

    .agendaMode {
        gap: 15px;
    }

    /*espetáculo*/
    h1{
        font-size: calc(35px + 0.390625vw);
        font-family: "TMLdisplay";
        line-height: calc(40px + 0.390625vw);
    }

    .coverShow {
        height: calc(var(--vh, 1h)* 60);
        width: calc(100vw - var(--marginMobile)* 2);
    }
    .coverShowInfo{
        margin: calc(var(--marginMobile)*2) 0;
    }

    .coverShowInfo h1{
        font-size: calc(30px + 0.390625vw);
        line-height: calc(35px + 0.390625vw);
    }

    .coverShowInfoTitle {
        width: 100%;
 
    }

    .coverHeader{
        margin-top: calc(var(--marginMobile)*2);
    }

    .infoShow{
        flex-direction: column;
    }

    .lateralInfo {
        width: 100%;
    }

    .lateralInfoInfo {
        margin: calc(var(--marginMobile)* 2) 0
    }

    .lateralInfoInfo p {
        margin-bottom: var(--marginMobile);
    }

    button {
        margin-top: calc(var(--marginMobile) / 2);
        font-size: calc(11px + 0.390625vw);
    }

    .infoShow{
        margin-top: var(--marginMobile);
    }
    .mainInfo {
        width: 100%;
        margin-top: calc(var(--marginMobile)*2);
    }

    .detailsShow{
        margin-bottom: calc(var(--marginMobile));
    }

    .coverHeaderContent {
        display: flex;
        margin: calc(var(--marginMobile) / 2) 0;
        justify-content: space-between;
    }

    .agendaHeader {
        margin-bottom: calc(var(--marginMobile)* 8);
    }

    footer p{
        font-size: calc(10px + 0.390625vw);
    }

    .footerIndex {
       position: initial;
    }

}

@media (orientation: portrait) and (min-width: 700px) {
    #gridMode .monthSep {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}