:root {
    --white: #FFFFFF;
    --grey: #707070;
    --black: #000;

    --headerHeight: 10vh;
    --marginDesktop: 2vw;
}

/*Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer p {
    color: var(--grey);
}

p{
    font-size: calc(9px + 0.390625vw);
    line-height: calc(13px + 0.390625vw);
}
/*Index*/
#indexGeneral {
    height: calc(var(--vh, 1h)*100);

}

#indexGeneral span {
    color: var(--grey);
}

header {
    width: 100vw;
    height: var(--headerHeight);
    padding: var(--marginDesktop);
}

.logoHeader {
    height: var(--headerHeight);
}

.logoHeader svg {
    width: 4%;
}

#bodyIndex{
    overflow-x: hidden;
}
#mainIndex {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mainIndexContent svg {
    width: 70%;
    
}

#logoMainIndex_1, #logoMainIndex_2{
width:100vw;
}

#logoMainIndex_1{
    display: flex;
    align-items: center;
}

#logoMainIndex_1 span{
    font-size: calc(2px + 1.5vw);
    line-height: calc(2px + 1.5vw);
}

#logoMainIndex_1 svg{ 
    min-height: 50vh;
    max-height: 60vh;
}

#logoMainIndex_2 svg{ 
    position: absolute;
    left: 50%;
    z-index: -2;
    min-height: 50vh;
    max-height: 60vh;
}

#imagesIndex{
    position: absolute;
    top:0;
    z-index: -1;
    width:100vw;
height: 100vh;
}

.imageIndex{
    position: absolute;
}

.imageIndexVertical{
    width:calc(150px + 5vw);
}

.imageIndexHorizontal{
    height: calc(120px + 5vw);
}

#imageIndex1{
    right:5%;
    top: 3%;
} 

#imageIndex2{
    right:15%;
    top: 45%;
} 

#imageIndex3{
    left: 15%;
    top: 10%;
} 


#imageIndex4{
    left:40%;
    bottom: 5%;
}

#imageIndex5{
    left: 30%;
    bottom: 25%;
}

#imageIndex6{
    right: 5%;
    bottom: 5%;
}

#imageIndex7{
    left: 3%;
    top: 25%;
}

#imageIndex8{
    left: 50%;
    top: 10%;
}

#imageIndex9{
    right: calc(100% + 40%);
    top: 30%;
}

#imageIndex10{
    right: calc(100% + 10%);
    top: 20%;
}

#imageIndex11{
    left: 5%;
    bottom: 20%;
}

#imageIndex12{
    left: calc(100% - 0%);
    bottom: 20%;
}



footer {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: calc(var(--marginDesktop)*2);
    padding: calc(var(--marginDesktop)/2) var(--marginDesktop) 
}