:root {
    --white: #FFFFFF;
    --grey: #707070;
    --black: #000;

    --headerHeight: calc(var(--vh, 1h)*10);

    --marginDesktop: 2vh;
    --marginMobile: 4vw;
}

/*Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: none;
}

a:hover {
    cursor: none;
}

a {
    text-decoration: none;
    color: var(--grey);
}

footer p {
    color: var(--grey);
}

p {
    font-size: calc(8px + 0.390625vw);
}

p::selection {
    color: var(--white);
    background-color: var(--grey);
}

a::selection {
    color: var(--white);
    background-color: var(--grey);
}

span {
    font-size: calc(22px + 0.390625vw);
}

#indexGeneral span {
    color: var(--grey);
}

#indexGeneral {
    height: calc(var(--vh, 1h)*100);
}

#mainIndex {
    user-select: none;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mainIndexContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--vh, 1h)*100);
    width: 100vw;
}

.logoHeader {
    height: 10vh;
    position: absolute;
    top: var(--marginDesktop);
    left: var(--marginDesktop);
}

.logoHeader svg {
    height: 100%;
}

#bodyIndex {
    overflow-x: hidden;
}

#logoMainIndex_1,
#logoMainIndex_2 {
    height: 55.7vh;
}

#logoMainIndex_1 svg,
#logoMainIndex_2 svg {
    height: 100%;
}

#logoMainIndex_2 {
    position: relative;
    z-index: -1;
}

#logoMainIndex_2 svg {
    position: absolute;
    right: -200px;
}

.agendaIndex {
    margin: calc(var(--marginDesktop));
}


#imagesIndex {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: calc(var(--vh, 1h)*100);
    overflow-x: hidden;
}

.imageIndex {
    position: absolute;
}

.imageIndexVertical {
    width: calc(150px + 5vw);
}

.imageIndexHorizontal {
    height: calc(120px + 5vw);
}

#imageIndex1 {
    left: 7%;
    top: 45%;
}

#imageIndex2 {
    left: 45%;
    bottom: 10%;
}

#imageIndex3 {
    right: 20%;
    top: 50%;
}

#imageIndex4 {
    right: 10%;
    top: 5%;
}

#imageIndex5 {
    left: calc(-40% - 10%);
    ;
    bottom: 40%;
}

#imageIndex6 {
    left: calc(-30% - 90%);
    ;
    top: 20%;
}

#imageIndex7 {
    left: calc(-60% - 120%);
    ;
    top: 15%;
}

#imageIndex8 {
    left: calc(-80% - 40%);
    ;
    bottom: 15%;
}

#imageIndex9 {
    right: calc(-75% - 10%);
    ;
    top: 5%;
}

#imageIndex10 {
    right: calc(-60% - 90%);
    top: 55%;
}

#imageIndex11 {
    right: calc(-40% - 120%);
    top: 5%;
}

#imageIndex12 {
    right: calc(-30% - 40%);
    bottom: 10%;
}

footer {
    position: absolute;
    bottom: 0;

    display: flex;
    gap: var(--marginDesktop);
    padding: var(--marginDesktop);
}

footer p {
    margin-top: 1px;
}

.moveRight,
.moveLeft {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.moveRight {
    left: 0;
}

.moveLeft {
    right: 0;
}

#cursor {
    position: fixed;
    background-color: var(--black);

    width: 2em;
    height: 2em;
    border-radius: 100%;
    pointer-events: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#cursor.active {
    width: 6em;
    height: 6em;
}

.hiddenDesktop{
    display: none;
}

.hiddenMobile{
    display: block;
}

.logoInfo{
    position: relative;
}

.logoInfo span{
    position: absolute;
    bottom: 50%;
    right: 10%;
}
@media (orientation: portrait) {
    p {
        font-size: calc(10px + 0.390625vw);
    }
    
    span {
        font-size: calc(18px + 0.390625vw);
    }

    .hiddenMobile{
    display: none;
    }

    .hiddenDesktop{
        display: block;
    }
    
    /*Index*/

    #logoMainIndex_1,
    #logoMainIndex_2 {
        height: calc(var(--vh, 1h)*45);
    }

    #indexGeneral span {
        text-align: center;
    }


    .agendaIndex {
        margin: var(--marginDesktop);
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #logoMainIndex_2 {
        position: relative;
    }

    #logoMainIndex_2 svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }

    footer {
        position: initial;
        display: flex;
        gap: var(--marginMobile);
        padding: var(--marginMobile);
    }

    #mainIndexContent {
        height: auto;
        min-height: calc(var(--vh, 1h)*100);
    }

    .imageIndexVertical {
        width: calc(100px + 5vw);
    }

    .imageIndexHorizontal {
        height: calc(80px + 5vw);
    }

    #imageIndex1 {
        left: 40%;
        top: 5%;
    }

    #imageIndex2 {
        left: -15%;
        bottom: calc(var(--vh, 1h));
    }

    #imageIndex3 {
        right: 10%;
        top: 55%;
    }

    #imageIndex4 {
        right: -20%;
        top: 35%;
    }

    #imageIndex5 {
        left: calc(-20% - 150%);
        top: 50%;
    }

    #imageIndex6 {
        left: calc(-40% - 350%);
        top: 30%;
    }

    #imageIndex7 {
        left: calc(-10% - 300%);
        top: 30%;
    }

    #imageIndex8 {
        left: calc(-10% - 250%);
        bottom: calc(var(--vh, 1h));
    }

    #imageIndex9 {
        right: calc(-55% - 150%);
        top: 35%;
    }

    #imageIndex10 {
        right: calc(-10% - 350%);
        top: 10%;
    }

    #imageIndex11 {
        right: calc(-30% - 300%);
        top: 60%;
    }

    #imageIndex12 {
        right: calc(-5% - 150%);
        bottom: calc(var(--vh, 1h)*20);
    }

    #cursor {
        display: none;
    }
}